PORT=5000
MONGO_URI=mongodb://localhost:27017/brilliantbrains_db
JWT_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret
NODE_ENV=development

# CORS
DEV_ORIGINS=http://localhost:3000,http://localhost:5173
PROD_ORIGINS=https://brilliantbrains.digital,https://www.brilliantbrains.digital,https://brilliantbrains.ai,https://www.brilliantbrains.ai

# Super Admin Credentials
SUPERADMIN_EMAIL=admin@brilliantbrains.digital
SUPERADMIN_PASSWORD=VeryStrongPassword@123
SUPERADMIN_NAME=BrilliantBrains Admin
# Note: Change the above super admin credentials in production for security reasons.